@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Assistant:wght@400;700&family=Hind+Vadodara:wght@400;600&family=Mate+SC&family=Poppins:wght@400;600&family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&family=Assistant:wght@400;700&family=Hind+Vadodara:wght@400;600&family=Mate+SC&family=Poppins:wght@400;600&family=Sorts+Mill+Goudy&display=swap");
#ancorNav1, #ancorNav2, #ancorNav3, #ancorNav4, .contenedorServicios a, .listaDePlanes ul li, .otrosServicios a {
  text-decoration: none;
  color: black;
}

#ancorNav1:hover, #ancorNav2:hover, #ancorNav3:hover, #ancorNav4:hover, .contenedorServicios p:hover, .otrosServicios a p:hover {
  color: #ff0a54;
  -webkit-transition: 1s;
  transition: 1s;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: radial-gradient(circle, #fff1e6 10%, #e8dbc8 87%);
  width: 100%;
}

.linksNavegacion {
  background-color: #e8dbc8;
  border-radius: 30px;
  width: 60%;
  -webkit-box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 7px 37px -2px rgba(0, 0, 0, 0.6);
  list-style: none;
  margin-right: 5rem;
}

#ancorNav1, #ancorNav2, #ancorNav3, #ancorNav4 {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Hind Vadodara', sans-serif;
}

.logoPrincipal {
  border-radius: 8px;
  height: 60px;
  width: 7rem;
  margin-left: 2rem;
}

footer {
  background-color: #223843;
  color: white;
}

p {
  margin: 0;
}

body {
  background-color: #fff1e6;
}

h1 {
  font-family: 'Mate SC', serif;
  font-size: 50px;
  text-align: center;
  color: #223843;
  width: 100%;
  background-color: none;
}

h2, h3, h4 {
  font-family: 'Mate SC', serif;
  font-size: 40px;
  text-align: center;
  color: #fff1e6;
  width: 100%;
  background-color: #223843;
}

h5, h6 {
  font-family: 'Mate SC', serif;
  font-size: 30px;
  text-align: center;
  color: #fff1e6;
  width: 100%;
  background-color: #223843;
}

main {
  padding: 0;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.navbar {
  padding: 0;
}

.botonWhatsapp {
  width: 7rem;
  position: fixed;
  bottom: 5%;
  right: 0;
}

.parrafoModal {
  color: black;
  text-align: center;
}

.tituloModal {
  font-size: 25px;
}

.botonModalWhatsapp {
  width: 7rem;
}

.subrayadoFooter {
  text-decoration: none;
  color: #fff1e6;
  text-decoration: underline;
}

.subrayadoFooter:hover {
  color: #fff1e6;
  text-decoration: underline;
}

/*CSS DEL INDEX DE LA PAGINA*/
/* Titulo principal con imagen de fondo*/
.seccionCarrusel {
  margin-top: 2rem;
}

.fondosIndex {
  height: 96vh;
  background: no-repeat;
  background-size: cover;
}

.fondosIndex::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
}

.tituloFondo {
  margin-bottom: 2rem;
}

.titulosImagenFondo {
  font-family: 'Mate SC', serif;
  font-size: 40px;
  text-align: center;
  color: white;
  width: 100%;
  background-color: none;
}

.botonFondo1 {
  background-color: salmon;
  color: white;
  font-weight: 600;
  padding: 1rem;
  border-radius: 20px;
  border: black solid 2px;
  font-size: 15px;
}

/*Seccion sobre mi*/
.seccionSobreMi {
  padding: 0;
}

.tituloSobreMi {
  margin-top: 2rem;
}

.sobreMiImg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80vh;
}

.fotoNutricionista {
  width: 45rem;
  height: 30rem;
}

.sobreMiTexto {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.botonConoceMas {
  text-align: center;
  margin: 2.5rem 0;
}

/* Servicios*/
.seccionServicios {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90vh;
}

.contenedorServicios {
  position: relative;
  width: 310px;
  height: 210px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.contenedorServicios .clicMasInfo {
  opacity: 0;
}

.contenedorServicios:hover .textoDelServicio {
  margin-top: 40px;
  -webkit-transition: all 1.1s ease-out;
  transition: all 1.1s ease-out;
}

.contenedorServicios:hover .clicMasInfo {
  opacity: 1;
  max-width: 270px;
  margin: auto;
  font-size: 15px;
  -webkit-transition: all 1.1s ease-out;
  transition: all 1.1s ease-out;
}

.imgServicios {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.capaIndex {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  border-radius: 6px;
}

.textoDelServicio {
  font-family: 'Mate SC', serif;
  font-size: 25px;
  text-align: center;
  color: white;
  width: 100%;
  background-color: none;
  margin-top: 80px;
}

/*Contacto*/
.contenedorContacto {
  width: 100%;
}

.mapaConsultorio {
  width: 500px;
  height: 400px;
  margin: 2rem 0;
}

.direccionConsultorio {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.textoMapa {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

#form5Example21 {
  text-align: center;
}

body {
  overflow-x: hidden;
}

/*CSS PAGINA SOBRE MI*/
.titPagSobreMi {
  margin-top: 6rem;
}

.porQueNutricion {
  margin-top: 1rem;
}

.sobreMi1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80vh;
}

.textoSobreMi {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

.fotoSobreMi1 {
  width: 45rem;
}

.sobreMi2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.sobreMi3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.fotoCemic, .garrahan {
  width: 37rem;
}

.fotoCemic {
  margin-top: 2rem;
}

.garrahan {
  margin-bottom: 2rem;
}

/* CSS PAGINA PLANES DE ALIMENTACIÓN */
.titPlanes {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.planesSeccion1, .planesSeccion3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.juliAtendiendo {
  width: 35rem;
}

.textosPlanes {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  margin: 2rem 0;
}

.listaDePlanes ul li {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  list-style: none;
}

.planesSeccion2, .planesSeccion4 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.planesImg2, .planesImg3, .planesImg4 {
  width: 35rem;
  height: 20rem;
}

.planesImg3, .planesImg4 {
  margin: 2rem 0;
}

.h3Consultorio {
  margin-top: 2rem;
}

.mapaConsultorio2 {
  width: 100%;
  height: 400px;
}

.textoMapa {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

.otrosServicios {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.otrosServiciosCaja {
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/*CSS PAGINA ANTROPOMETRIAS*/
.tituloAntropometria {
  margin: 3rem 0;
}

.antroFotoIzquierda {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  width: 100%;
  max-width: 100%;
}

.fotoAntro {
  width: 40rem;
  height: 25rem;
  margin-bottom: 2rem;
}

.antroFotoADerecha {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fotoGrasa, .fotoMusculo {
  width: 40rem;
  margin: 2rem 0;
}

.tituloMasaMuscular {
  margin-bottom: 3rem;
}

.textosAntro {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
}

.textoMasaMuscular {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*CSS PAGINA TALLERES DE ALIMENTACIÓN*/
.tituloTalleres {
  margin-top: 5rem;
}

.talleresFotoIzquierda {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.imgTalleres1, .imgTalleres2, .imgTalleres3 {
  width: 40rem;
  margin-top: 2rem;
}

.talleresFotoDerecha {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.textosTalleres {
  font-size: 20px;
  font-family: 'Hind Vadodara', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

/*CSS PAGINA DE RESERVAR EL TURNO*/
.tituloReserva {
  margin-top: 6rem;
}

.contenedorReservas {
  width: 100%;
}

.cajaReservas {
  width: 40%;
}

.cajaReservas form {
  margin-bottom: 3rem;
}

.reservas {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  background-color: #223843;
  border-radius: 30px;
  position: relative;
}

.reservas input {
  width: 60%;
  height: auto;
  font-family: 'Hind Vadodara', sans-serif;
  color: white;
  background-color: #223843;
  border: none;
  border-bottom: solid 1px white;
}

.reservas input:focus {
  outline: none;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 15px;
}

.reservas label {
  font-size: 15px;
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 600;
  color: white;
}

.h2Consultorio {
  margin-top: 2rem;
}

::-webkit-calendar-picker-indicator {
  background-color: white;
  border-radius: 50px;
  margin-bottom: 5px;
}

.botonEnviarForm {
  width: 50%;
}

/*CSS PAGINA COMO TRABAJO*/
.tituloComoTrabajo {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.comoTrabajoParteIzquierda {
  margin: 2rem 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fotoAtencionOnline, .fotoAtencionDomicilio, .fotoOtrosBeneficios {
  width: 35rem;
}

.comoTrabajoParteDerecha {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.contenedorBeneficios {
  margin: 2rem 0;
}

.listaBeneficios {
  padding-left: 2.5rem;
  margin-top: 1rem;
  font-size: 17px;
}

.listaBeneficios li {
  margin-top: 1rem;
  font-weight: 400;
}

.textosComoTrabajo {
  font-size: 17px;
  text-align: center;
}

/* MEDIA QUERY NAVBAR  */
@media only screen and (max-width: 991px) {
  .linksNavegacion {
    background-color: none;
    border-radius: 0;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
  }
  #ancorNav {
    width: 100%;
  }
}

/*MEDIA QUERY CELULARES INDEX */
@media only screen and (max-width: 480px) {
  .logoPrincipal {
    width: 6rem;
    height: 50px;
  }
  .seccionCarrusel {
    margin-top: 4rem;
  }
  .titulosImagenFondo {
    font-size: 30px;
    background-color: none;
  }
  .botonFondo1 {
    padding: 0.2rem 1rem;
    font-size: 12px;
    margin-bottom: 1rem;
  }
  .sobreMiImg, .fotoNutricionista, .sobreMiTexto, .seccionServicios, .contenedorContacto, .fondosIndex {
    height: auto;
  }
  .tituloFondo {
    height: 5rem;
  }
  .sobreMiImg {
    margin: 2px;
  }
  .sobreMiTexto, .textoMapa {
    font-size: 16px;
    margin-bottom: 2rem;
  }
  .fotoNutricionista {
    width: 19rem;
  }
  .seccionServicios {
    margin: 2px;
  }
  .contenedorServicios {
    margin: 1rem;
    width: 290px;
    height: 190px;
  }
  .contenedorServicios:hover .textoDelServicio {
    margin-top: none;
  }
  .clicMasInfo {
    display: none;
  }
  .contenedorContacto {
    margin: 2px;
  }
  .mapaConsultorio {
    width: 300px;
    height: 250px;
  }
  .pieDePagina p {
    font-size: 15px;
  }
  .botonWhatsapp {
    width: 5.5rem;
  }
  .textoFooterDescuentos {
    padding-bottom: 1rem;
  }
  .placeholderFooter {
    margin-bottom: 1.5rem;
  }
}

/*MEDIA QUERY TABLET INDEX*/
@media (min-width: 481px) and (max-width: 1300px) {
  .logoPrincipal {
    width: 6rem;
    height: 50px;
  }
  .seccionCarrusel {
    margin-top: 2rem;
  }
  .titulosImagenFondo {
    font-size: 30px;
  }
  .botonFondo1 {
    padding: 0.2rem 1rem;
    font-size: 12px;
  }
  .sobreMiImg, .fotoNutricionista, .sobreMiTexto, .seccionServicios, .contenedorContacto, .fondosIndex {
    height: auto;
  }
  .tituloFondo {
    height: 5rem;
  }
  .sobreMiTexto, .textoMapa {
    font-size: 18px;
    margin: 2rem 0;
  }
  .contenedorServicios {
    margin: 1rem 10px;
  }
  .contenedorServicios:hover .textoDelServicio {
    margin-top: none;
  }
  .clicMasInfo {
    display: none;
  }
  .mapaConsultorio {
    padding-left: 2rem;
  }
  .textoFooterDescuentos {
    padding-bottom: 1rem;
  }
  .placeholderFooter {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 991px) and (max-width: 1149px) {
  .fotoNutricionista {
    width: 31rem;
  }
}

@media (min-width: 1149px) and (max-width: 1300px) {
  .fotoNutricionista {
    width: 35rem;
  }
}

@media (min-width: 1300px) and (max-width: 1440px) {
  .fotoNutricionista {
    width: 40rem;
    height: 28rem;
  }
}

/*CELULARES SOBRE MI*/
@media only screen and (max-width: 480px) {
  .sobreMi1, .sobreMi2, .sobreMi3 {
    padding-left: 1.5rem;
    height: auto;
  }
  .fotoSobreMi1 {
    width: 19rem;
  }
  .fotoCemic, .garrahan {
    margin-bottom: 0;
  }
  .textoSobreMi {
    font-size: 15px;
    margin: 1rem 0;
  }
}

/*TABLET SOBRE MI*/
@media (min-width: 481px) and (max-width: 1000px) {
  .sobreMi1, .sobreMi2, .sobreMi3 {
    padding-left: 1.5rem;
    height: auto;
  }
  .fotoSobreMi1, .fotoCemic, .garrahan {
    width: 35rem;
    margin-bottom: 0;
  }
  .textoSobreMi {
    font-size: 17px;
    margin: 1.5rem 0;
  }
}

@media (min-width: 1001px) and (max-width: 1100px) {
  .sobreMi1, .sobreMi2, .sobreMi3 {
    height: auto;
  }
  .fotoSobreMi1, .fotoCemic, .garrahan {
    margin-bottom: 0;
  }
  .textoSobreMi {
    font-size: 18px;
    margin: 1.5rem 0;
  }
}

@media (min-width: 1101px) and (max-width: 1400px) {
  .sobreMi1, .sobreMi2, .sobreMi3 {
    height: auto;
  }
  .textoSobreMi {
    font-size: 18px;
    margin: 1.5rem 0;
  }
}

@media (min-width: 1201px) and (max-width: 1439px) {
  .sobreMi1, .sobreMi2, .sobreMi3 {
    height: auto;
  }
  .fotoSobreMi1, .fotoCemic, .garrahan {
    width: 35rem;
  }
  .textoSobreMi {
    margin: 1.5rem 0;
  }
}

/*CELULARES PLANES DE ALIMENTACIÓN*/
@media only screen and (max-width: 480px) {
  .titPlanes {
    font-size: 35px;
  }
  .planesSeccion1, .planesSeccion2, .planesSeccion3, .planesSeccion4, .otrosServicios {
    padding-left: 1rem;
    margin: 1rem 0;
  }
  .juliAtendiendo, .planesImg2, .planesImg3, .planesImg4 {
    margin-bottom: 0;
  }
  .textosPlanes, .listaDePlanes ul li {
    font-size: 17px;
  }
  .titulos {
    font-size: 28px;
  }
  .planesImg2, .planesImg3, .planesImg4 {
    width: 25rem;
    height: 12rem;
  }
  .tituloReserva, .h3Consultorio {
    margin-top: 0;
  }
  .contenedorReservas {
    padding-left: 1.5rem;
  }
  .cajaReservas {
    width: 100%;
  }
  .mapaConsultorio2 {
    height: 250px;
  }
  .otrosServicios p {
    font-size: 23px;
  }
  .textoMapa {
    font-size: 17px;
    margin-top: 1rem;
  }
}

/*TABLET PLANES DE ALIMENTACION*/
@media (min-width: 481px) and (max-width: 1024px) {
  .textosPlanes, .listaDePlanes ul li {
    font-size: 18px;
  }
  .titulos {
    font-size: 30px;
  }
  .planesSeccion1, .planesSeccion2, .planesSeccion3, .planesSeccion4, .otrosServicios {
    padding-left: 1rem;
    margin: 1rem 0;
  }
  .juliAtendiendo, .planesImg2, .planesImg3, .planesImg4 {
    margin-bottom: 0;
  }
  .planesImg2, .planesImg3, .planesImg4 {
    width: 30rem;
    height: 18rem;
  }
  .tituloReserva, .h3Consultorio {
    margin-top: 0;
  }
  .contenedorReservas {
    padding: 1rem 1rem 1rem 2.5rem;
  }
  .cajaReservas {
    width: 80%;
  }
  .mapaConsultorio2 {
    height: 250px;
  }
  .otrosServicios p {
    font-size: 25px;
  }
  .textoMapa {
    font-size: 19px;
  }
}

/* CELULAR ANTROPOMETRIA*/
@media only screen and (max-width: 480px) {
  .tituloAntropometria {
    font-size: 35px;
  }
  .fotoAntro, .fotoGrasa, .fotoMusculo {
    width: 20rem;
    height: 13rem;
    margin-bottom: 0;
  }
  .textosAntro {
    font-size: 17px;
    margin: 2rem 0;
  }
  .tituloMasaMuscular {
    margin-bottom: 1rem;
  }
  .antroFotoIzquierda, .antroFotoADerecha {
    padding-left: 1.5rem;
  }
}

/*TABLET ANTROPOMETRIA*/
@media (min-width: 481px) and (max-width: 1199px) {
  .tituloAntropometria {
    font-size: 45px;
  }
  .fotoAntro, .fotoGrasa, .fotoMusculo {
    width: 28rem;
    height: 18rem;
    margin-bottom: 0;
  }
  .textosAntro {
    font-size: 17px;
    margin: 2rem 0;
  }
  .tituloMasaMuscular {
    margin-bottom: 1rem;
  }
  .antroFotoIzquierda, .antroFotoADerecha {
    padding-left: 1.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1285px) {
  .fotoAntro, .fotoGrasa, .fotoMusculo {
    width: 37rem;
    height: 23rem;
  }
}

/* CELULAR TALLERES DE ALIMENTACION*/
@media only screen and (max-width: 480px) {
  .tituloTalleres {
    font-size: 35px;
  }
  .imgTalleres1 {
    width: 20rem;
  }
  .textosTalleres {
    font-size: 17px;
  }
  .imgTalleres2, .imgTalleres3 {
    width: 30rem;
  }
}

/*TABLET TALLERES DE ALIMENTACIÓN*/
@media (min-width: 481px) and (max-width: 800px) {
  .imgTalleres1 {
    width: 28rem;
  }
  .imgTalleres2, .imgTalleres3 {
    width: 33rem;
  }
}

@media (min-width: 801px) and (max-width: 1285px) {
  .imgTalleres1 {
    width: 30rem;
  }
  .imgTalleres2, .imgTalleres3 {
    width: 34rem;
  }
}

/* CELULAR RESERVA TU TURNO*/
@media only screen and (max-width: 480px) {
  .tituloReserva {
    margin-top: 6rem;
  }
}

/*TABLET RESERVA TU TURNO*/
@media (min-width: 481px) and (max-width: 1024px) {
  .tituloReserva {
    margin-top: 6rem;
  }
}

/* CELULAR COMO TRABAJO*/
@media only screen and (max-width: 480px) {
  .textosComoTrabajo {
    font-size: 15px;
    margin: 1rem 0;
  }
  .listaBeneficios {
    padding-left: 1.5rem;
    font-size: 15px;
  }
}

/*TABLET RESERVA TU TURNO*/
@media (min-width: 481px) and (max-width: 1200px) {
  .textosComoTrabajo {
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=main.css.map */