/*CELULARES SOBRE MI*/ 

@media only screen and (max-width: 480px) {
    .sobreMi1, .sobreMi2, .sobreMi3 {
        padding-left: 1.5rem;
        height: auto;
    }
    .fotoSobreMi1 {
        width: 19rem;
    }
    .fotoCemic, .garrahan {
        margin-bottom: 0;
    }
    .textoSobreMi {
        font-size: 15px;
        margin: 1rem 0;
    }    

}

/*TABLET SOBRE MI*/

@media (min-width:481px) and (max-width: 1000px) {
    .sobreMi1, .sobreMi2, .sobreMi3 {
        padding-left: 1.5rem;
        height: auto;
    }
    .fotoSobreMi1, .fotoCemic, .garrahan {
        width: 35rem;
        margin-bottom: 0;
    }
    .textoSobreMi {
        font-size: 17px;
        margin: 1.5rem 0;
    }
}

@media (min-width:1001px) and (max-width: 1100px) {
    .sobreMi1, .sobreMi2, .sobreMi3 {
        height: auto;
    }
    .fotoSobreMi1, .fotoCemic, .garrahan {
        margin-bottom: 0;
    }
    .textoSobreMi {
        font-size: 18px;
        margin: 1.5rem 0;
    }
}

@media (min-width:1101px) and (max-width: 1400px) {
    .sobreMi1, .sobreMi2, .sobreMi3 {
        height: auto;
    }
    .textoSobreMi {
        font-size: 18px;
        margin: 1.5rem 0;
    }
}

@media (min-width:1201px) and (max-width: 1439px) {
    .sobreMi1, .sobreMi2, .sobreMi3 {
        height: auto;
    }
    .fotoSobreMi1, .fotoCemic, .garrahan {
        width: 35rem;
    }
    .textoSobreMi {
        margin: 1.5rem 0;
    }
}