/* MEDIA QUERY NAVBAR  */

@media only screen and (max-width:991px) {
    .linksNavegacion {
        background-color: none;
        border-radius: 0;
        width: $width;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-align: center;
    }
    #ancorNav {
        width: $width;
    }
}

/*MEDIA QUERY CELULARES INDEX */

@media only screen and (max-width: 480px) {
    .logoPrincipal {
        @include AnchoAlto (6rem,50px);
    }
    .seccionCarrusel {
        margin-top: 4rem;
    }
    .titulosImagenFondo {
        font-size: 30px;
        background-color: none;
    }
    .botonFondo1 {
        padding: 0.2rem 1rem;
        font-size: 12px;
        margin-bottom: 1rem;
    }
    .sobreMiImg, .fotoNutricionista, .sobreMiTexto, .seccionServicios, .contenedorContacto, .fondosIndex{
        height: auto;
    }
    .tituloFondo {
        height: 5rem;
    }
    .sobreMiImg {
        margin: 2px;
    }
    .sobreMiTexto, .textoMapa {
        font-size: 16px;
        margin-bottom: 2rem;
    }
    .fotoNutricionista {
        width: 19rem;
    }
    .seccionServicios {
        margin: 2px;
    }
    .contenedorServicios {
        margin: 1rem;
        @include AnchoAlto (290px,190px)
    }
    .contenedorServicios:hover .textoDelServicio {
        margin-top: none;
    }
    .clicMasInfo {
        display: none;
    }
    .contenedorContacto {
        margin: 2px;
    }
    .mapaConsultorio{
        @include AnchoAlto (300px,250px)
    }
    .pieDePagina p{
        font-size: 15px;
    }
    .botonWhatsapp {
        width: 5.5rem;
    }
    .textoFooterDescuentos {
        padding-bottom: 1rem;
    }
    .placeholderFooter {
        margin-bottom: 1.5rem;
    }
}

/*MEDIA QUERY TABLET INDEX*/

@media (min-width:481px) and (max-width: 1300px) {
    .logoPrincipal{
        @include AnchoAlto (6rem,50px)
    }
    .seccionCarrusel{
    margin-top: $margin-top;
    } 
    .titulosImagenFondo {
        font-size: 30px;
    }
    .botonFondo1{
        padding: 0.2rem 1rem;
        font-size: 12px;
    }
    .sobreMiImg, .fotoNutricionista, .sobreMiTexto, .seccionServicios, .contenedorContacto, .fondosIndex{
        height: auto;
    }
    .tituloFondo {
        height: 5rem;
    }
    .sobreMiTexto, .textoMapa {
        font-size: 18px;
        margin: 2rem 0;
    }
    .contenedorServicios {
        margin: 1rem 10px;
    }
    .contenedorServicios:hover .textoDelServicio {
        margin-top: none;
    }
    .clicMasInfo {
        display: none;
    }
    .mapaConsultorio{
        padding-left: 2rem;
    }
    .textoFooterDescuentos {
        padding-bottom: 1rem;
    }
    .placeholderFooter {
        margin-bottom: 1.5rem;
    }
}

@media (min-width:991px) and (max-width: 1149px){
    .fotoNutricionista {
        width: 31rem;
    }
}

@media (min-width:1149px) and (max-width: 1300px){
    .fotoNutricionista {
        width: 35rem;
    }
}

@media (min-width:1300px) and (max-width: 1440px){
    .fotoNutricionista {
        width: 40rem;
        height: 28rem;
    }
}
