/* CELULAR TALLERES DE ALIMENTACION*/ 

@media only screen and (max-width: 480px){
    .tituloTalleres {
        font-size: 35px;
    }
    .imgTalleres1 {
        width: 20rem;
    }
    .textosTalleres {
        font-size:17px;
    }
    .imgTalleres2, .imgTalleres3 {
        width: 30rem;
    }
}

/*TABLET TALLERES DE ALIMENTACIÓN*/
@media (min-width:481px) and (max-width: 800px) {
    .imgTalleres1 {
        width: 28rem;
    }
    .imgTalleres2, .imgTalleres3 {
        width: 33rem;
    }
}

@media (min-width:801px) and (max-width: 1285px) {
    .imgTalleres1 {
        width: 30rem;
    }
    .imgTalleres2, .imgTalleres3 {
        width: 34rem;
    }
}