/* CSS PAGINA PLANES DE ALIMENTACIÓN */

.titPlanes {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.planesSeccion1, .planesSeccion3 {
    @include flexbox (row);
    margin-top: $margin-top;
    width: $width;
}

.juliAtendiendo {
    width: 35rem;
}

.textosPlanes {
    @include textos (20px);
    margin: 2rem 0;
}

.listaDePlanes ul li {
    @extend %estilosListas;
    @include textos (20px);
    list-style: none;
}

.planesSeccion2, .planesSeccion4 {
    @include flexbox (row-reverse);
    margin-top:$margin-top;
    width: $width;
}

.planesImg2, .planesImg3, .planesImg4 {
    @include AnchoAlto (35rem,20rem);
}

.planesImg3, .planesImg4 {
    margin: 2rem 0;
}

.h3Consultorio {
    margin-top: $margin-top;
}

.mapaConsultorio2 {
    @include AnchoAlto (100%,400px);
}

.textoMapa {
    @include textos (20px);
}

.otrosServicios {
    @include flexbox (row);
    margin: 2rem 0;
}

.otrosServicios a {
    @extend %estilosListas;
}

.otrosServicios a p:hover {
    @extend %hoverRojo;
}

.otrosServiciosCaja {
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    width: $width;
}

