@mixin titulosPrincipales ($tamanoTitulo, $colorTitulo, $ColorBgTitulos) {
    font-family: 'Mate SC', serif;
    font-size: $tamanoTitulo;
    text-align: center;
    color: $colorTitulo;
    width: 100%;
    background-color: $ColorBgTitulos;
}

@mixin botones ($tamanoTextoBotones) {
    background-color: salmon;
    color: white;
    font-weight: 600;
    padding: 1rem;
    border-radius: 20px;
    border: black solid 2px;
    font-size: $tamanoTextoBotones;
}

@mixin AnchoAlto ($ancho, $alto) {
    width: $ancho;
    height: $alto;
}

@mixin textos ($tamanoTextoParrafos) {
    font-size: $tamanoTextoParrafos;
    font-family: 'Hind Vadodara', sans-serif;
    text-align: center;
}

@mixin flexbox ($flexDirection) {
    flex-direction: $flexDirection;
    flex-wrap: wrap;
    align-items: center;
}

%estilosListas {
    text-decoration: none;
    color: black;
}

%hoverRojo {
    color: #ff0a54;
    transition: 1s;
}

%reseteoCss {
    margin: 0;
    padding: 0;
}

%header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background: radial-gradient(circle, rgba(255,241,230,1) 10%, rgba(232,219,200,1) 87%);
    width: $width;
}

%linksNav {
    background-color: #e8dbc8;
    border-radius: 30px;
    width: 60%;
    -webkit-box-shadow: 4px 7px 37px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 4px 7px 37px -2px rgba(0,0,0,0.6);
    box-shadow: 4px 7px 37px -2px rgba(0,0,0,0.6);
    list-style: $estiloLista;
    margin-right: 5rem;
}

%anchorNav {
    @extend %estilosListas; 
    font-size: 18px;
    font-weight: 600;
    font-family: 'Hind Vadodara', sans-serif;
}

%logo {
    border-radius: 8px; 
    height: 60px;
    width: 7rem;
    margin-left: 2rem;
}

%footer {
    background-color: #223843;
    color: white;
}

