/*CSS PAGINA TALLERES DE ALIMENTACIÓN*/ 

.tituloTalleres {
    margin-top: 5rem;
}

.talleresFotoIzquierda {
    @include flexbox (row);
    margin: 2rem 0;
}

.imgTalleres1, .imgTalleres2, .imgTalleres3{
    width: 40rem;
    margin-top: $margin-top;
}

.talleresFotoDerecha {
    @include flexbox (row-reverse);
    margin: 2rem 0;
}

.textosTalleres {
    @include textos (20px);
    margin-top: $margin-top;
}

